<nav class=`middle-align ${Astro.props.class}`>
    <a class="button transparent small" href="/">Home</a>
    <a class="button transparent small" href="/">Agregar sabor de té</a>
    <a class="button transparent small" href="/">Cambiar número de tés</a>
</nav>
<hr>